@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
  background-color: black;
}
*{
  margin: 0%;
}
button{
  all: unset;
 padding: 6px 16px;
 background: red; 
 height: 32px;
 color: aliceblue;
 font-weight: 500;
 font-size: 20px;
 border-radius: 10px; 
}
.container{
  max-width: 1280px;
  margin: auto;
}
.menu{
  padding-right: 80px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
  font-size: 20px;
  color: #fff;
}
.hero{
  display: flex;
  align-items: center;
  height: 80vh;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px; 
}
.hero h1{
  font-weight: 700;
  font-size: 108px;
  line-height: 102px;
  color: aliceblue;
}
.hero p{
  font-weight: 600;
  color: #fff;
  max-width: 550px;
}
.hero-btn{
  display: flex;
  gap: 40px;
  font-size: 24px;
}
.sec-btn{
 background-color: transparent;
 color: #fff;
 border: 2px solid white;
}
.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icon{
  display: flex;
  gap: 20px;
}



